#heading
{
    background-color: aqua;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.card
{
    border: 1px solid black;
    margin-top: 10px;
}

.btn
{
    align-items: center;
    margin-right: 30px;
}

img
{
    width: 200px;
}

button:hover
{
   color: blue;
}

.box
{
    
}